 
 <h4 class="bg_color_mw"><span class="text_pad">MICROBIOLOGICAL</span></h4>	
 <hr>
 <div class="row">

    <div class="col-sm-3"> 
    	<div class="panel panel-info">
		      <div class="panel-heading">ONGOING TESTS</div>

      <div class="row">
        <div class="col-sm-6 potable_color">
          <label class="center_label">Potable</label>
          <div class="panel-body"><span id="m_ongoing" class="dash_count timer_m_ongoing"></span></div>
        </div>
        <div class="col-sm-6 non-potable_color">
          <label class="center_label">Non-Potable</label>
          <div class="panel-body"><span id="mw_ongoing" class="dash_count timer_mw_ongoing"></span></div>
        </div>
      </div> <!-- ROW -->

    	</div> 
	  </div> <!-- col-sm-3 -->

    <div class="col-sm-3">
    	<div class="panel panel-danger">
		      <div class="panel-heading">HOLD</div>

      <div class="row">
        <div class="col-sm-6 potable_color">
          <label class="center_label">Potable</label>
          <div class="panel-body"><span id="m_hold" class="dash_count timer_m_hold"></span></div>
        </div>
        <div class="col-sm-6 non-potable_color">
          <label class="center_label">Non-Potable</label>
          <div class="panel-body"><span id="mw_hold" class="dash_count timer_mw_hold"></span></div>
        </div>
      </div> <!-- ROW -->
		      
    	</div>
    </div> <!-- col-sm-3 -->

    <div class="col-sm-3">
      <div class="panel panel-success">
          <div class="panel-heading">FOR CHECKING</div>

      <div class="row">
        <div class="col-sm-6 potable_color">
          <label class="center_label">Potable</label>
          <div class="panel-body"><span id="m_forChecking" class="dash_count timer_m_forChecking"></span></div>
        </div>
        <div class="col-sm-6 non-potable_color">
          <label class="center_label">Non-Potable</label>
          <div class="panel-body"><span id="mw_forChecking" class="dash_count timer_mw_forChecking"></span></div>
        </div>
      </div>  <!-- ROW -->
          

      </div>
    </div> <!-- col-sm-3 -->

    <div class="col-sm-3">
    	<div class="panel panel-success">
		      <div class="panel-heading">DONE</div>

      <div class="row">
        <div class="col-sm-6 potable_color">
          <label class="center_label">Potable</label>
          <div class="panel-body"><span id="m_done" class="dash_count timer_m_done"></span></div>
        </div>
        <div class="col-sm-6 non-potable_color">
          <label class="center_label">Non-Potable</label>
          <div class="panel-body"><span id="mw_done" class="dash_count timer_mw_done"></span></div>
        </div>
      </div>  <!-- ROW -->
		      

    	</div>
    </div> <!-- col-sm-3 -->

 </div> <!-- ROW -->

<br>
<br>
<br>

 <h4 class="bg_color_pw"><span class="text_pad">PHYSICOCHEMICAL AND WASTE</span></h4>	
 <hr>
 <div class="row">

    <div class="col-sm-3">
    	<div class="panel panel-info">
		      <div class="panel-heading">ONGOING TESTS</div>

      <div class="row">
        <div class="col-sm-6 potable_color">
          <label class="center_label">Potable</label>
          <div class="panel-body"><span id="pc_ongoing" class="dash_count timer_pc_ongoing"></span></div>
        </div>
        <div class="col-sm-6 non-potable_color">
          <label class="center_label">Non-Potable</label>
          <div class="panel-body"><span id="w_ongoing" class="dash_count timer_w_ongoing"></span></div>
        </div>
      </div> <!-- ROW -->
		      
    	</div>
  	</div> <!-- col-sm-3 -->

    <div class="col-sm-3">
    	<div class="panel panel-danger">
		      <div class="panel-heading">HOLD</div>

      <div class="row">
        <div class="col-sm-6 potable_color">
          <label class="center_label">Potable</label>
          <div class="panel-body"><span id="pc_hold" class="dash_count timer_pc_hold"></span></div>
        </div>
        <div class="col-sm-6 non-potable_color">
          <label class="center_label">Non-Potable</label>
          <div class="panel-body"><span id="w_hold" class="dash_count timer_w_hold"></span></div>
        </div>
      </div> <!-- ROW -->   
		      
    	</div>
    </div> <!-- col-sm-3 -->

    <div class="col-sm-3">
      <div class="panel panel-success">
          <div class="panel-heading">FOR CHECKING</div>

      <div class="row">
        <div class="col-sm-6 potable_color">
          <label class="center_label">Potable</label>
           <div class="panel-body"><span id="pc_forChecking" class="dash_count timer_pc_forChecking"></span></div>
        </div>
        <div class="col-sm-6 non-potable_color">
          <label class="center_label">Non-Potable</label>
           <div class="panel-body"><span id="w_forChecking" class="dash_count timer_w_forChecking"></span></div>
        </div>
      </div> <!-- ROW -->      
         

      </div>
    </div> <!-- col-sm-3 -->

    <div class="col-sm-3">
    	<div class="panel panel-success">
		      <div class="panel-heading">COMPLETED</div>

      <div class="row">
        <div class="col-sm-6 potable_color">
          <label class="center_label">Potable</label>
           <div class="panel-body"><span id="pc_completed" class="dash_count timer_pc_completed"></span></div>
        </div>
        <div class="col-sm-6 non-potable_color">
          <label class="center_label">Non-Potable</label>
           <div class="panel-body"><span id="w_completed" class="dash_count timer_w_completed"></span></div>
        </div>
      </div> <!-- ROW -->      
		     

      </div>
    </div> <!-- col-sm-3 -->

 </div> <!-- ROW -->

 <script type="text/javascript">
 	// MICRO AND MICRO WASTE FETCH DATA
 	fetch_mw();
 	function fetch_mw() {
    check_session();

    // ajax() method to make api calls
    $.ajax({
      url: "/alphalab/api/dashboard_mon/micro_count.php",
      dataType: "json",
      type: "GET",

      success: function(data) {
        console.log(data);
        
        if (data.success) {
          // MICRO POTABLE
          Ongoing_m = data.success.Ongoing_m;
          Hold_m = data.success.Hold_m;
          forChecking_m = data.success.forChecking_m;
          Done_m = data.success.Done_m;

          $("#m_ongoing").html(Ongoing_m);
          $("#m_hold").html(Hold_m);
          $("#m_forChecking").html(forChecking_m);
          $("#m_done").html(Done_m);

          // MICRO NON-POTABLE
          Ongoing_mw = data.success.Ongoing_mw;
          Hold_mw = data.success.Hold_mw;
          forChecking_mw = data.success.forChecking_mw;
          Done_mw = data.success.Done_mw;

          $("#mw_ongoing").html(Ongoing_mw);
          $("#mw_hold").html(Hold_mw);
          $("#mw_forChecking").html(forChecking_mw);
          $("#mw_done").html(Done_mw);

          
          // MICRO POTABLE COUNTER
          $('.timer_m_ongoing').countTo({ // script at js/countTo.min.js
          from: 0,
          to: Ongoing_m,
          speed: 800,
          refreshInterval: 50,
          onComplete: function(value) {
              console.debug(this);
          }
        });

          $('.timer_m_hold').countTo({ // script at js/countTo.min.js
          from: 0,
          to: Hold_m,
          speed: 800,
          refreshInterval: 50,
          onComplete: function(value) {
              console.debug(this);
          }
        });

          $('.timer_m_forChecking').countTo({ // script at js/countTo.min.js
          from: 0,
          to: forChecking_m,
          speed: 800,
          refreshInterval: 50,
          onComplete: function(value) {
              console.debug(this);
          }
        });

           $('.timer_m_done').countTo({ // script at js/countTo.min.js
          from: 0,
          to: Done_m,
          speed: 800,
          refreshInterval: 50,
          onComplete: function(value) {
              console.debug(this);
          }
        });

          // MICRO NON-POTABLE COUNTER
          $('.timer_mw_ongoing').countTo({ // script at js/countTo.min.js
	        from: 0,
	        to: Ongoing_mw,
	        speed: 800,
	        refreshInterval: 50,
	        onComplete: function(value) {
	            console.debug(this);
	        }
	    	});

          $('.timer_mw_hold').countTo({ // script at js/countTo.min.js
	        from: 0,
	        to: Hold_mw,
	        speed: 800,
	        refreshInterval: 50,
	        onComplete: function(value) {
	            console.debug(this);
	        }
	    	});

          $('.timer_mw_forChecking').countTo({ // script at js/countTo.min.js
          from: 0,
          to: forChecking_mw,
          speed: 800,
          refreshInterval: 50,
          onComplete: function(value) {
              console.debug(this);
          }
        });

           $('.timer_mw_done').countTo({ // script at js/countTo.min.js
	        from: 0,
	        to: Done_mw,
	        speed: 800,
	        refreshInterval: 50,
	        onComplete: function(value) {
	            console.debug(this);
	        }
	    	});

        }
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log(jqXHR);
        console.log(textStatus);
        console.log(errorThrown);
      }
    });
  }

  	// PCHEM AND WASTE FETCH DATA
  	fetch_pw();
 	function fetch_pw() {
    check_session();

    // ajax() method to make api calls
    $.ajax({
      url: "/alphalab/api/dashboard_mon/chemwaste_count.php",
      dataType: "json",
      type: "GET",

      success: function(data) {
        console.log(data);
        
        if (data.success) {

          // PCHEM
          Ongoing_pc = data.success.Ongoing_pc;
          Hold_pc = data.success.Hold_pc;
          forChecking_pc = data.success.forChecking_pc;
          Completed_pc = data.success.Completed_pc;

          $("#pc_ongoing").html(Ongoing_pc);
          $("#pc_hold").html(Hold_pc);
          $("#pc_forChecking").html(forChecking_pc);
          $("#pc_completed").html(Completed_pc);

          // WASTE
          Ongoing_w = data.success.Ongoing_w;
          Hold_w = data.success.Hold_w;
          forChecking_w = data.success.forChecking_w;
          Completed_w = data.success.Completed_w;

          $("#w_ongoing").html(Ongoing_w);
          $("#w_hold").html(Hold_w);
          $("#w_forChecking").html(forChecking_w);
          $("#w_completed").html(Completed_w);

          // PCHEM
          $('.timer_pc_ongoing').countTo({ // script at js/countTo.min.js
	        from: 0,
	        to: Ongoing_pc,
	        speed: 800,
	        refreshInterval: 50,
	        onComplete: function(value) {
	            console.debug(this);
	        }
	    	});

          $('.timer_pc_hold').countTo({ // script at js/countTo.min.js
	        from: 0,
	        to: Hold_pc,
	        speed: 800,
	        refreshInterval: 50,
	        onComplete: function(value) {
	            console.debug(this);
	        }
	    	});

          $('.timer_pc_forChecking').countTo({ // script at js/countTo.min.js
          from: 0,
          to: forChecking_pc,
          speed: 800,
          refreshInterval: 50,
          onComplete: function(value) {
              console.debug(this);
          }
        });

           $('.timer_pc_completed').countTo({ // script at js/countTo.min.js
	        from: 0,
	        to: Completed_pc,
	        speed: 800,
	        refreshInterval: 50,
	        onComplete: function(value) {
	            console.debug(this);
	        }
	    	});

           // WASTE
          $('.timer_w_ongoing').countTo({ // script at js/countTo.min.js
          from: 0,
          to: Ongoing_w,
          speed: 800,
          refreshInterval: 50,
          onComplete: function(value) {
              console.debug(this);
          }
        });

          $('.timer_w_hold').countTo({ // script at js/countTo.min.js
          from: 0,
          to: Hold_w,
          speed: 800,
          refreshInterval: 50,
          onComplete: function(value) {
              console.debug(this);
          }
        });

          $('.timer_w_forChecking').countTo({ // script at js/countTo.min.js
          from: 0,
          to: forChecking_w,
          speed: 800,
          refreshInterval: 50,
          onComplete: function(value) {
              console.debug(this);
          }
        });

           $('.timer_w_completed').countTo({ // script at js/countTo.min.js
          from: 0,
          to: Completed_w,
          speed: 800,
          refreshInterval: 50,
          onComplete: function(value) {
              console.debug(this);
          }
        });

        }
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log(jqXHR);
        console.log(textStatus);
        console.log(errorThrown);
      }
    });
  }


 </script>