<label class="header_color">• Annual Data Summary</label>  
        <div class="tableFixHead" id="dataSummaryTable">
              <table class="table table-condensed" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th width="20%">COMPANY NAME</th>
                    <th width="5%">JAN.</th>
                    <th width="5%">FEB.</th>
                    <th width="5%">MAR.</th>
                    <th width="5%">APR.</th>
                    <th width="5%">MAY</th>
                    <th width="5%">JUN.</th>
                    <th width="5%">JUL.</th>
                    <th width="5%">AUG.</th>
                    <th width="5%">SEPT.</th>
                    <th width="5%">OCT.</th>
                    <th width="5%">NOV.</th>
                    <th width="5%">DEC.</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
             </table>
        </div>

 


<script type="text/javascript" src="script/dataSummary.js"></script>
